<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/friendfinder.css') }}">
    <title>Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
	<div class="containerdashboard">
		<div class="NavArea">
			<h1 style="display: inline;">Activity Finder</h1>
			{% if session.get('user_id') %}
				<form action="{{ url_for('logout') }}" method="POST" style="display: inline;">
					<button class="navbutton" type="submit">Logout</button>
				</form>
				<a href="/dashboard"><button class="navbutton">Dashboard</button></a>
				<a href="/"><button class="navbutton">Search</button></a>
			{% else %}
				<a href="/login"><button class="navbutton">Sign In</button></a>
				<a href="/register"><button class="navbutton">Register</button></a>
			{% endif %}
		</div>
		<div class="ActionArea">
			<h1>Welcome to your Dashboard</h1>
			<br>
			<h2>User Information:</h2>
			<p><strong>Name:</strong> {{ user.username }}</p>
			<p><strong>Address:</strong> {{ user.address }}</p>
			<h2>My Friends</h2>
			{% if friends %}
			<ul>
				{% for friend in friends %}
					<li>{{ friend[0] }} ({{ friend[1] }})</li>
				{% endfor %}
			</ul>
			{% else %}
			<p>You don't have any friends yet.</p>
			{% endif %}
			<br>
		</div>
		<div class="ListArea">
			<br>
			<h2>Change Address:</h2>
			<form method="POST" action="{{ url_for('change_address') }}" autocomplete="off">
				<label>New Address:</label>
				<input type="text" name="change_address" id="change_address" autocomplete="off" required>
				<br>
				<input type="submit" value="Change Address" class="cabutton">
			</form>
			<h2>Add Friend:</h2>
			<form method="POST" action="{{ url_for('add_friend') }}" autocomplete="off">
				<label>Friend's Username:</label>
				<input type="text" name="friend_username" id="friend_username" autocomplete="off" required>
				<br>
				<input type="submit" value="Add Friend" class="afbutton">
			</form>
			<br>
		</div>
	</div>
</body>
</html>