<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/friendfinder.css') }}">
    <title>Activity Finder</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script>
		$(document).ready(function(){
			var checkboxes = $('.checkboxes');
			checkboxes.change(function(){
				if($('.checkboxes:checked').length>0) {
					checkboxes.removeAttr('required');
				} else {
					checkboxes.attr('required', 'required');
				}
			});
		});
	</script>
    <script>
		$(document).ready(function() {
		   $('input[type="radio"]').click(function() {
			   if($(this).attr('id') == 'customradio') {
					$('#activity').show();
					$('#customradio').hide();
			   }

			   else {
					$('#activity').hide();
					document.getElementById('activity').value = ''
					$('#customradio').show();
			   }
		   });
		});
    </script>
	{% if session.get('user_id') %}
    <script>
        var modal = document.getElementById('id01');
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <script>
        var modal = document.getElementById('id02');
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
	{% endif %}
	{% if center != '' %}
	<script type="text/javascript">
		function initMap() {
		  var center = {lat: {{ center[0] }}, lng: {{ center[1] }}};
		  var locations = [
			['Center Point', {{ center[0] }}, {{ center[1] }}, 2]
			{% for returnedlocations in returnedlocations %}
				,
				['<a href="#{{ returnedlocations[2] }}">{{ returnedlocations[2] }}</a><p>{{ returnedlocations[3] }}</p><a href="https://www.google.com/search?q={{ returnedlocations[4] }}">Go to Google Search for more info.</a>',   {{ returnedlocations[0] }}, {{ returnedlocations[1] }}, 1]
			{% endfor %}
			{% for selectedlocations in selectedlocations %}
				,
				['{{ selectedlocations[2] }}',   {{ selectedlocations[0] }}, {{ selectedlocations[1] }}, 0]
			{% endfor %}
		  ];
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 0,
			center: center
		  });
		var infowindow =  new google.maps.InfoWindow({});
		var marker, count;
		var latlngbounds = new google.maps.LatLngBounds();
		for (count = 0; count < locations.length; count++) {
			if(locations[count][3] == 0){
				marker = new google.maps.Marker({
				  position: new google.maps.LatLng(locations[count][1], locations[count][2]),
				  map: map,
				  title: locations[count][0],
				  icon: {                             
					  url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
				  }
				});
			}
			else if(locations[count][3] == 1){
				marker = new google.maps.Marker({
				  position: new google.maps.LatLng(locations[count][1], locations[count][2]),
				  map: map,
				  title: locations[count][0],
				  icon: {                             
					  url: "http://maps.google.com/mapfiles/ms/icons/yellow-dot.png"
				  }
				});
				latlngbounds.extend(marker.position);
			}
			else{
				marker = new google.maps.Marker({
				  position: new google.maps.LatLng(locations[count][1], locations[count][2]),
				  map: map,
				  title: locations[count][0]
				});
				latlngbounds.extend(marker.position);
			}
			google.maps.event.addListener(marker, 'click', (function (marker, count) {
			  return function () {
				infowindow.setContent(locations[count][0]);
				infowindow.open(map, marker);
			  }
			})(marker, count));
		  }
		map.fitBounds(latlngbounds);
		}
	</script>
	{% endif %}
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4xstXxgMSQZP-Qr0mNdjmoyz0GvRruSg&callback=initMap">
	</script>
</head>
<body>
	
	{% set indexnamespace = namespace(addressindex = 0) %}
	<div class="container">
		<div class="NavArea">
			<h1 style="display: inline;">Activity Finder</h1>
			{% if session.get('user_id') %}
				<form action="{{ url_for('logout') }}" method="POST" style="display: inline;">
					<button class="navbutton" type="submit">Logout</button>
				</form>
				<a href="/dashboard"><button class="navbutton">Dashboard</button></a>
				<a href="/"><button class="navbutton">Search</button></a>
			{% else %}
				<button class="navbutton" onclick="document.getElementById('id01').style.display='block'">Sign In</button>
				<button class="navbutton" onclick="document.getElementById('id02').style.display='block'">Register</button>
			{% endif %}
		</div>
		<div class="MapArea">
			{% if center != '' %}
				<div id="map" style="width: 100%; height: 100%;"></div>
			{% else %}
				<img src="{{ url_for('static', filename= 'img/mapstatic.jpg') }}" class="mapfillerimage"> 
			{% endif %}
		</div>
		<div class="ListArea">
			{% for nearby_results in nearby_results %}
				<div class="placebox" id="{{ nearby_results[0] }}">
					<a href="https://www.google.com/search?q={{ nearby_results[3] }}"><p>{{ nearby_results[0] }}</p></a>
					<p>{{ nearby_results[1] }}</p>
					<p>{{ nearby_results[2] }}</p>
				</div>
			{% endfor %}
		</div>
		{% if session.get('user_id') %}
		<div class="ActionArea">
			<form action="/placesearch" method="POST" name="placesearch">
				<div class="containerinner">
					<div class="FriendArea">
						{% for friends in friends %}
							<span style="display: inline;" class="friendclass">
								<label>
									<input class="checkboxes" type="checkbox" name="friendaddress{{ indexnamespace.addressindex }}" value="{{ friends[2] }},{{ friends[3] }},{{ friends[0] }}"/>
									<span class="friendbutton">{{ friends[0] }}</span>
								<label/>
							</span>
							{% set indexnamespace.addressindex = indexnamespace.addressindex + 1 %}
						{% endfor %}
					</div>
					<div class="SearchArea">
						<div class="typelistcontainer">
							<span style="display: inline;" class="friendclass">
								<label>
									<input class="typeboxes" type="radio" name="activitytype" value="bar"/>
									<span class="typelistbutton">Bar</span>
								<label/>
							</span>
							<span style="display: inline;" class="friendclass">
								<label>
									<input class="typeboxes" type="radio" name="activity" value="bowling"/>
									<span class="typelistbutton">Bowling</span>
								<label/>
							</span>
							<span style="display: inline;" class="friendclass">
								<label>
									<input class="typeboxes" type="radio" name="activitytype" value="cafe"/>
									<span class="typelistbutton">Cafe</span>
								<label/>
							</span>
							<span style="display: inline;" class="friendclass">
								<label>
									<input class="typeboxes" type="radio" name="activitytype" value="clothing_store"/>
									<span class="typelistbutton">Clothing Store</span>
								<label/>
							</span>
							<span style="display: inline;" class="friendclass">
								<label>
									<input class="typeboxes" type="radio" name="activitytype" value="department_store"/>
									<span class="typelistbutton">Department Store</span>
								<label/>
							</span>
							<span style="display: inline;" class="friendclass">
								<label>
									<input class="typeboxes" type="radio" name="activitytype" value="gym"/>
									<span class="typelistbutton">Gym</span>
								<label/>
							</span>
							<span style="display: inline;" class="friendclass">
								<label>
									<input class="typeboxes" type="radio" name="activitytype" value="hair_care"/>
									<span class="typelistbutton">Hair Stylist</span>
								<label/>
							</span>
							<span style="display: inline;" class="friendclass">
								<label>
									<input class="typeboxes" type="radio" name="activitytype" value="park"/>
									<span class="typelistbutton">Park</span>
								<label/>
							</span>
							<span style="display: inline;" class="friendclass">
								<label>
									<input class="typeboxes" type="radio" name="activitytype" value="restaurant"/>
									<span class="typelistbutton">Restaurant</span>
								<label/>
							</span>
							<span style="display: inline;" class="friendclass">
								<label>
									<input class="typeboxes" type="radio" name="activitytype" value="beauty_salon"/>
									<span class="typelistbutton">Salon</span>
								<label/>
							</span>
							<span style="display: inline;" class="friendclass">
								<label>
									<input class="typeboxes" type="radio" name="activitytype" value="shoe_store"/>
									<span class="typelistbutton">Shoe Store</span>
								<label/>
							</span>
							<span style="display: inline;" class="friendclass">
								<label>
									<input class="typeboxes" type="radio" name="activitytype" value="shopping_mall"/>
									<span class="typelistbutton">Shopping Mall</span>
								<label/>
							</span>
						</div>
						<input class="typeboxes" type="radio" id="customradio" name="activitytype" value="">Custom Input</input>
						<input type="text" id="activity" name="activity" placeholder="Type of Activity" value=""><br>
						<input type="hidden" id="hiddenusername" name="hiddenusername" value="{{ hiddenusername }}">
						<input type="submit" value="Submit" class="submitsearchbutton">
					</div>
				</div>
			</form>
		</div>
		{% endif %}
	</div>
    <div id="id01" class="modal">
        <form class="modal-content animate" method="POST" action="{{ url_for('login') }}">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>
            <div class="containermodal">
                <label><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
 
                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
 
                <button type="submit">Login</button>
            </div>
            <div class="containermodal" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            </div>
        </form>
    </div>
    <div id="id02" class="modal">
        <form class="modal-content animate" method="POST" action="{{ url_for('register') }}">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>
            <div class="containermodal">
                <label><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="regusername" required>
 
                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="regpassword" required>

                <label><b>Address</b></label>
                <input type="text" placeholder="Enter Address" name="address" required>

                <button type="submit">Register</button>
            </div>
        </form>
    </div>
</body>
</html>