<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/friendfinder.css') }}">
    <title>Activity Finder</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script>
		$(document).ready(function(){
			var checkboxes = $('.checkboxes');
			checkboxes.change(function(){
				if($('.checkboxes:checked').length>1) {
					checkboxes.removeAttr('required');
				} else {
					checkboxes.attr('required', 'required');
				}
			});
		});
	</script>
	{% if center != '' %}
	<script type="text/javascript">
		function initMap() {
		  var center = {lat: {{ center[0] }}, lng: {{ center[1] }}};
		  var locations = [
			['Center Point', {{ center[0] }}, {{ center[1] }}, 2]
			{% for returnedlocations in returnedlocations %}
				,
				['<a href="#{{ returnedlocations[2] }}">{{ returnedlocations[2] }}</a><p>{{ returnedlocations[3] }}</p>',   {{ returnedlocations[0] }}, {{ returnedlocations[1] }}, 1]
			{% endfor %}
			{% for selectedlocations in selectedlocations %}
				,
				['{{ selectedlocations[2] }}',   {{ selectedlocations[0] }}, {{ selectedlocations[1] }}, 0]
			{% endfor %}
		  ];
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 0,
			center: center
		  });
		var infowindow =  new google.maps.InfoWindow({});
		var marker, count;
		var latlngbounds = new google.maps.LatLngBounds();
		for (count = 0; count < locations.length; count++) {
			if(locations[count][3] == 0){
				marker = new google.maps.Marker({
				  position: new google.maps.LatLng(locations[count][1], locations[count][2]),
				  map: map,
				  title: locations[count][0],
				  icon: {                             
					  url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
				  }
				});
			}
			else if(locations[count][3] == 1){
				marker = new google.maps.Marker({
				  position: new google.maps.LatLng(locations[count][1], locations[count][2]),
				  map: map,
				  title: locations[count][0],
				  icon: {                             
					  url: "http://maps.google.com/mapfiles/ms/icons/yellow-dot.png"
				  }
				});
				latlngbounds.extend(marker.position);
			}
			else{
				marker = new google.maps.Marker({
				  position: new google.maps.LatLng(locations[count][1], locations[count][2]),
				  map: map,
				  title: locations[count][0]
				});
				latlngbounds.extend(marker.position);
			}
			google.maps.event.addListener(marker, 'click', (function (marker, count) {
			  return function () {
				infowindow.setContent(locations[count][0]);
				infowindow.open(map, marker);
			  }
			})(marker, count));
		  }
		map.fitBounds(latlngbounds);
		}
	</script>
	{% endif %}
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4xstXxgMSQZP-Qr0mNdjmoyz0GvRruSg&callback=initMap">
	</script>
</head>
<body>
	
	{% set indexnamespace = namespace(addressindex = 0) %}
	<div class="container">
		<div class="NavArea">
			<h1 style="display: inline;">Activity Finder</h1>
			<button class="navbutton">Sign In</button>
			<button class="navbutton">Register</button>
		</div>
		<div class="MapArea">
			{% if center != '' %}
				<div id="map" style="width: 100%; height: 100%;"></div>
			{% else %}
				<img src="{{ url_for('static', filename= 'img/mapstatic.jpg') }}" class="mapfillerimage"> 
			{% endif %}
		</div>
		<div class="ListArea">
			{% for nearby_results in nearby_results %}
				<div class="placebox" id="{{ nearby_results[0] }}">
					<a href="https://www.google.com/search?q={{ nearby_results[3] }}"><p>{{ nearby_results[0] }}</p></a>
					<p>{{ nearby_results[1] }}</p>
					<p>{{ nearby_results[2] }}</p>
				</div>
			{% endfor %}
		</div>
		<div class="ActionArea">
			<form action="/placesearch" method="POST" name="placesearch">
				<div class="containerinner">
					<div class="FriendArea">
						{% for friends in friends %}
							<span style="display: inline;" class="friendclass">
								<label>
									<input class="checkboxes" type="checkbox" name="friendaddress{{ indexnamespace.addressindex }}" value="{{ friends[2] }},{{ friends[3] }},{{ friends[0] }}"/>
									<span class="friendbutton">{{ friends[0] }}</span>
								<label/>
							</span>
							{% set indexnamespace.addressindex = indexnamespace.addressindex + 1 %}
						{% endfor %}
					</div>
					<div class="SearchArea">
						  <input type="text" id="activity" name="activity" placeholder="Type of Activity"><br><br>
						  <input type="submit" value="Submit">
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>